/* Основной стиль */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

section p, section pre {
    color: #666;
    font-size: 1.1em;
    line-height: 1.6;
}

pre {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

img.cover-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Стили для списка песен */
.item-list {
    list-style: none;
    padding: 0;
}

.item {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.item h3 {
    margin: 0;
    font-size: 1.2em;
}

.item .btn {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

.item .btn:hover {
    background-color: #0056b3;
}

/* Стили для навигации и кнопок */
nav a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #0056b3;
}
